In [1]:
import os
import pandas as pd

In [2]:
ALPHAVANTAGE_KEY = os.getenv('ALPHAVANTAGE_KEY')

In [3]:
URL = 'https://www.alphavantage.co/query?function=DIGITAL_CURRENCY_DAILY&symbol=BTC&market=USD&apikey=%s&datatype=csv'.format(ALPHAVANTAGE_KEY)

In [4]:
def total_return(prices):
  return prices.iloc[-1] / prices.iloc[0] - 1

In [5]:
df = pd.read_csv(URL)
df['timestamp'] = pd.to_datetime(df.timestamp)
df.index = df.timestamp.dt.date
df = df[::-1]
df.rename(columns={"close (USD)": "btc_close"}, inplace=True)
df = df.drop(['open (USD)', 'high (USD)', 'low (USD)', 'open (USD).1', 'high (USD).1', 'low (USD).1', 'close (USD).1'], axis=1)
df['pct_change'] = df['btc_close'].pct_change()
df[['timestamp', 'btc_close', 'pct_change']].to_csv('bitcoin_daily_returns.csv')
df[['timestamp', 'btc_close', 'pct_change']]
df

            timestamp  btc_close         volume  market cap (USD)  pct_change
timestamp
2019-12-13 2019-12-13    7258.48   27609.873795      27609.873795         NaN
2019-12-14 2019-12-14    7064.05   29561.985967      29561.985967   -0.026787
2019-12-15 2019-12-15    7118.59   26395.778137      26395.778137    0.007721
2019-12-16 2019-12-16    6891.72   43863.993059      43863.993059   -0.031870
2019-12-17 2019-12-17    6623.82   53865.069929      53865.069929   -0.038873
...               ...        ...            ...               ...         ...
2022-09-03 2022-09-03   19831.90  146639.032040     146639.032040   -0.006012
2022-09-04 2022-09-04   20000.30  145588.778930     145588.778930    0.008491
2022-09-05 2022-09-05   19796.84  222543.010570     222543.010570   -0.010173
2022-09-06 2022-09-06   18790.61  356315.057180     356315.057180   -0.050828
2022-09-07 2022-09-07   18789.99   11102.857270      11102.857270   -0.000033

[1000 rows x 5 columns]

In [6]:
btc_monthly_returns = df.groupby([df.timestamp.dt.year, df.timestamp.dt.month])['btc_close'].apply(total_return)
btc_monthly_returns.to_csv("bitcoin_monthly_returns.csv")
btc_monthly_returns

timestamp  timestamp
2019       12          -0.008714
2020       1            0.298859
           2           -0.091746
           3           -0.248649
           4            0.297622
           5            0.070388
           6           -0.104131
           7            0.227844
           8           -0.012851
           9           -0.096073
           10           0.298694
           11           0.431230
           12           0.541364
2021       1            0.128233
           2            0.346273
           3            0.184595
           4           -0.017476
           5           -0.355475
           6           -0.044916
           7            0.237493
           8            0.182090
           9           -0.102159
           10           0.273323
           11          -0.065022
           12          -0.191787
2022       1           -0.193949
           2            0.115401
           3            0.024518
           4           -0.186950
           5           -0.173319
           6           -0.330929
           7            0.208172
           8           -0.138301
           9           -0.066636
Name: btc_close, dtype: float64