In [1]:
import os
import pandas as pd
import seaborn as sns
import matplotlib as mpl
import requests
from datetime import datetime as dt

In [2]:
ALPHAVANTAGE_KEY = os.getenv('ALPHAVANTAGE_KEY')
assert ALPHAVANTAGE_KEY is not None, "You must export ALPHAVANTAGE_KEY..."
ALPHAVANTAGE_KEY

'032HZXCB7T21N7SC'

In [3]:
SAMPLE_START_DATE = dt.fromisoformat('2019-12-19').date()
SAMPLE_END_DATE = dt.fromisoformat('2023-12-31').date()
(SAMPLE_START_DATE, SAMPLE_END_DATE)

(datetime.date(2019, 12, 19), datetime.date(2023, 12, 31))

In [4]:
DIGITAL_CURRENCY_URL = 'https://www.alphavantage.co/query?function=DIGITAL_CURRENCY_DAILY&symbol=BTC&market=USD&apikey={}&datatype=csv'.format(ALPHAVANTAGE_KEY)
SPY_URL = 'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol={symbol}&outputsize=full&apikey={apikey}&datatype=csv'.format(symbol='SPY', apikey=ALPHAVANTAGE_KEY)
QQQ_URL = 'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol={symbol}&outputsize=full&apikey={apikey}&datatype=csv'.format(symbol='QQQ', apikey=ALPHAVANTAGE_KEY)
(DIGITAL_CURRENCY_URL, SPY_URL, QQQ_URL)

('https://www.alphavantage.co/query?function=DIGITAL_CURRENCY_DAILY&symbol=BTC&market=USD&apikey=032HZXCB7T21N7SC&datatype=csv',
 'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol=SPY&outputsize=full&apikey=032HZXCB7T21N7SC&datatype=csv',
 'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol=QQQ&outputsize=full&apikey=032HZXCB7T21N7SC&datatype=csv')

In [5]:
%matplotlib inline
pd.options.display.float_format = '{:,.4f}'.format
sns.set_style("whitegrid")

mpl.rcParams.update({
                     'text.color' : "white",
                     'lines.linewidth': 3,
                     'font.size': 16.0,
                     'legend.facecolor': "182742",
                     'legend.edgecolor': 'CFB023',
                     'legend.fancybox': True,
                     'legend.framealpha': 1.,
                     'legend.loc': 'right',
                     'xtick.color': 'white',
                     'ytick.color': 'white',
                     'ytick.minor.visible': True,
                     'axes.facecolor': '#182742',
                     'axes.edgecolor': 'white',
#                      'axes.grid.axis': 'y',
#                      'axes.grid.which': 'minor',
                     'axes.labelcolor' : "white",
                     'axes.labelsize': "24",
                     'axes.labelweight': "bold",
                     'axes.titlesize': 28,
                     'axes.titleweight': 'bold',
                     'axes.titlepad': 20,
                     'figure.facecolor': '#182742',
#                      'xtick.bottom': False,
                    }
                   )

In [6]:
def total_return(prices):
  return prices.iloc[-1] / prices.iloc[0] - 1

# Download Bitcoin Historical Data

In [7]:
# TODO: Figure out how to add error checking
# r = requests.get(URL)
# data = r.json()
# assert 'Error Message' not in data.keys(), "Error Received. {}".format(data['Error Message'])

df = pd.read_csv(DIGITAL_CURRENCY_URL)
df['timestamp'] = pd.to_datetime(df.timestamp)
df.index = df.timestamp.dt.date
df = df[::-1]
df.rename(columns={"close (USD)": "btc_close"}, inplace=True)
df = df.drop(['open (USD)', 'high (USD)', 'low (USD)', 'open (USD).1', 'high (USD).1', 'low (USD).1', 'close (USD).1'], axis=1)
df['pct_change'] = df['btc_close'].pct_change()
df[['timestamp', 'btc_close', 'pct_change']].to_csv('bitcoin_daily_returns.csv')
df[['timestamp', 'btc_close', 'pct_change']]
df

            timestamp   btc_close      volume  market cap (USD)  pct_change
timestamp
2021-04-13 2021-04-13 63,575.0000 82,848.6887       82,848.6887         NaN
2021-04-14 2021-04-14 62,959.5300 82,616.3440       82,616.3440     -0.0097
2021-04-15 2021-04-15 63,159.9800 51,649.7003       51,649.7003      0.0032
2021-04-16 2021-04-16 61,334.8000 91,764.1399       91,764.1399     -0.0289
2021-04-17 2021-04-17 60,006.6600 58,912.2561       58,912.2561     -0.0217
...               ...         ...         ...               ...         ...
2024-01-03 2024-01-03 42,845.2300 81,194.5517       81,194.5517     -0.0468
2024-01-04 2024-01-04 44,151.1000 48,038.0633       48,038.0633      0.0305
2024-01-05 2024-01-05 44,145.1100 48,075.2533       48,075.2533     -0.0001
2024-01-06 2024-01-06 43,968.3200 17,835.0614       17,835.0614     -0.0040
2024-01-07 2024-01-07 44,039.0400  1,801.5504        1,801.5504      0.0016

[1000 rows x 5 columns]

In [8]:
btc_monthly_returns = df.groupby([df.timestamp.dt.year, df.timestamp.dt.month])['btc_close'].apply(total_return)
btc_monthly_returns.to_csv("bitcoin_monthly_returns.csv")
btc_monthly_returns

timestamp  timestamp
2021       4           -0.0925
           5           -0.3555
           6           -0.0449
           7            0.2375
           8            0.1821
           9           -0.1022
           10           0.2733
           11          -0.0650
           12          -0.1918
2022       1           -0.1939
           2            0.1154
           3            0.0245
           4           -0.1869
           5           -0.1733
           6           -0.3309
           7            0.2082
           8           -0.1383
           9           -0.0352
           10           0.0611
           11          -0.1621
           12          -0.0256
2023       1            0.3917
           2           -0.0249
           3            0.2047
           4            0.0274
           5           -0.0306
           6            0.1363
           7           -0.0443
           8           -0.1267
           9            0.0449
           10           0.2375
           11           0.0650
           12           0.0931
2024       1           -0.0032
Name: btc_close, dtype: float64

In [9]:

def read_equities(url, start_date, end_date, outfile):
    df = pd.read_csv(url)
    df['timestamp'] = pd.to_datetime(df.timestamp)
    df.index = df.timestamp.dt.date
    df = df[::-1]
    sample = df[start_date:end_date]
    # df.rename(columns={"close (USD)": "btc_close"}, inplace=True)
    # df = df.drop(['open (USD)', 'high (USD)', 'low (USD)', 'open (USD).1', 'high (USD).1', 'low (USD).1', 'close (USD).1'], axis=1)
    sample['pct_change'] = sample['close'].pct_change().copy()
    sample['growth_of_10k'] = (sample['pct_change'].iloc[1:] + 1.).cumprod() * 10000.
    sample['growth_of_10k'].iloc[0] = 10000.
#     sample.insert(4, 'growth_of_10k', 0.)
#     sample['growth_of_10k'].iloc[0] = 10000.0
# #     print(sample.iloc[1:]['growth_of_10k'])
#     print(sample['growth_of_10k'].shift(1))
#     print((1 + sample['pct_change']))
#     sample['growth_of_10k'] = sample['growth_of_10k'].shift(1) * (1 + sample['pct_change'])
    sample[['timestamp', 'close', 'pct_change', 'growth_of_10k']].to_csv(outfile)
    return sample[['timestamp', 'close', 'pct_change', 'growth_of_10k']]

In [10]:
spy_history = read_equities(SPY_URL, SAMPLE_START_DATE, SAMPLE_END_DATE, 'spy_history.csv')
spy_history

/var/folders/22/_p71mrgd08g3swgccq1wnd1m0000gp/T/ipykernel_75044/43137134.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample['pct_change'] = sample['close'].pct_change().copy()
/var/folders/22/_p71mrgd08g3swgccq1wnd1m0000gp/T/ipykernel_75044/43137134.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample['growth_of_10k'] = (sample['pct_change'].iloc[1:] + 1.).cumprod() * 10000.
/var/folders/22/_p71mrgd08g3swgccq1wnd1m0000gp/T/ipykernel_75044/43137134.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample['growth_of_10k'].iloc[0] = 10000.

            timestamp    close  pct_change  growth_of_10k
timestamp
2019-12-19 2019-12-19 320.9000         NaN    10,000.0000
2019-12-20 2019-12-20 320.7300     -0.0005     9,994.7024
2019-12-23 2019-12-23 321.2200      0.0015    10,009.9720
2019-12-24 2019-12-24 321.2300      0.0000    10,010.2836
2019-12-26 2019-12-26 322.9400      0.0053    10,063.5712
...               ...      ...         ...            ...
2023-12-22 2023-12-22 473.6500      0.0020    14,760.0499
2023-12-26 2023-12-26 475.6500      0.0042    14,822.3746
2023-12-27 2023-12-27 476.5100      0.0018    14,849.1742
2023-12-28 2023-12-28 476.6900      0.0004    14,854.7834
2023-12-29 2023-12-29 475.3100     -0.0029    14,811.7794

[1014 rows x 4 columns]

In [11]:
qqq_history = read_equities(QQQ_URL, SAMPLE_START_DATE, SAMPLE_END_DATE, 'qqq_history.csv')
qqq_history

/var/folders/22/_p71mrgd08g3swgccq1wnd1m0000gp/T/ipykernel_75044/43137134.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample['pct_change'] = sample['close'].pct_change().copy()
/var/folders/22/_p71mrgd08g3swgccq1wnd1m0000gp/T/ipykernel_75044/43137134.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample['growth_of_10k'] = (sample['pct_change'].iloc[1:] + 1.).cumprod() * 10000.
/var/folders/22/_p71mrgd08g3swgccq1wnd1m0000gp/T/ipykernel_75044/43137134.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample['growth_of_10k'].iloc[0] = 10000.

            timestamp    close  pct_change  growth_of_10k
timestamp
2019-12-19 2019-12-19 210.8600         NaN    10,000.0000
2019-12-20 2019-12-20 211.7100      0.0040    10,040.3111
2019-12-23 2019-12-23 211.8100      0.0005    10,045.0536
2019-12-24 2019-12-24 211.9200      0.0005    10,050.2703
2019-12-26 2019-12-26 213.7900      0.0088    10,138.9548
...               ...      ...         ...            ...
2023-12-22 2023-12-22 408.3800      0.0015    19,367.3527
2023-12-26 2023-12-26 410.8800      0.0061    19,485.9148
2023-12-27 2023-12-27 411.5000      0.0015    19,515.3182
2023-12-28 2023-12-28 411.3000     -0.0005    19,505.8333
2023-12-29 2023-12-29 409.5200     -0.0043    19,421.4171

[1014 rows x 4 columns]